/* ===============================FRONT PAGE BUTTONS*/
#search, #browse {
  display: none;
}

/* ===================================SEARCH PAGE*/


/* ===================================BROWSE PAGE*/
#browse ul li {
  list-style-type: none;
  text-decoration: underline;
  color: #00CDCD;
  width: 12%;
}

#browse ul li:hover {
  text-decoration: underline;
  color: blue;
  cursor:pointer;
}

.modalImg {
  max-width: 100%;
}
