/* ===============================HEADER*/
.jumbotron {
  margin-bottom: 0;
}



/* ===============================FRONT PAGE BUTTONS*/
#search, #browse {
  display: none;
}

/* ===================================SEARCH PAGE*/


/* ===================================BROWSE PAGE*/
#browse ul li {
  list-style-type: none;
  text-decoration: underline;
  color: #00CDCD;
  width: 12%;
}

#browse ul li:hover {
  text-decoration: underline;
  color: blue;
  cursor:pointer;
}

.modalImg {
  max-width: 100%;
}



/* ===================================STICKY FOOTER*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  color: #C0C0C0;
}
